@font-face {
	font-family: "FivoSans";
	src: url("../fonts/FivoSans-Regular.otf");
}
@font-face {
	font-family: "FivoSans-Bold";
	src: url("../fonts/FivoSans-Bold.otf");
}
@font-face {
	font-family: "FivoSans-Heavy";
	src: url("../fonts/FivoSans-Heavy.otf");
}
@font-face {
	font-family: "FivoSans-Light";
	src: url("../fonts/FivoSans-Light.otf");
}
@font-face {
	font-family: "FivoSans-Oblique";
	src: url("../fonts/FivoSans-Oblique.otf");
}
@font-face {
	font-family: "FivoSans-Medium";
	src: url("../fonts/FivoSans-Medium.otf");
}